<%= simple_form_for @channel do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12"><%= f.input :title %></div>
      </div>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>