<%= simple_form_for([@post, @post.replies.build], remote: true) do |f| %>

  <div class="row">
    <div class="col col-sm-12"><%= f.input :content %></div>
  </div>

  <%= f.submit 'Leave a reply', class:'btn btn-primary' %>
<% end %>