<div class="card">
  <div class="card-body">
    <h6 class="card-text">Reply by <%= reply.user.name %> at <%= reply.created_at.strftime("%H:%M:%S") %></h6>
    <p class="card-text"><%= reply.content %></p>
    <%= link_to "Like Reply", post_reply_like_path(reply.post, reply), method: :post  %>
    <%= reply.get_upvotes.size %>
    <%= link_to "Dislike Reply", post_reply_dislike_path(reply.post, reply), method: :post  %>
    <%= reply.get_downvotes.size %>
    <div>
      <br/>
      <%= link_to 'Edit Reply', edit_post_reply_path(reply.post, reply), class:'btn btn-primary'%>
      <%= link_to 'Delete Reply', post_reply_path(reply.post, reply), method: :delete, data: { confirm: "Delete reply?" }, class:' btn btn-primary' %>
    </div>
  </div>
</div>