<%= simple_form_for([@post, @reply]) do |f| %>

  <div class="row">
    <div class="col col-sm-12"><%= f.input :content %></div>
  </div>

  <%= f.submit 'Update reply', class:'btn btn-primary' %>
<% end %>