<%= simple_form_for @post do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12"><%= f.input :title %></div>
      </div>
      <div class="row">
        <div class="col-md-12"><%= f.input :content %></div>
      </div>
      <div class="row">
        <div class="col-md-12"><%= f.association :channel, collection: @channels, prompt: "Select channel" %></div>
      </div>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>