<table class="table table-striped">
  <thead>
  <tr>
    <th>Sujet</th>
    <th>Auteur</th>
    <th>Channel</th>
    <th>Réponse</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.user.name %></td>
      <td><%= post.channel.title %></td>
      <td><%= post.replies.count %></td>
      <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @posts %>