<div>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  <%= link_to "New Channel", new_channel_path, class: 'btn btn-primary' %>
</div>
<br/>

<ul class="list-group">
  <% @channels.each do |c| %>
    <li class="list-group-item"><%= link_to c.title, c %></li>
  <% end %>
</ul>









