<div class="row">
  <div class="col-sm-3">
    <%= render 'sidebar' %>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h3><%= @post.title %></h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Post by <%= @post.user.name %> in <%= link_to @post.channel.title, @post.channel %></h5>
        <p class="card-text"><%= @post.content.html_safe %></p>
        <%= link_to "Like Post", like_post_path(@post), method: :post  %>
        <%= @post.get_upvotes.size %>
        <%= link_to "Dislike Post", dislike_post_path(@post), method: :post  %>
        <%= @post.get_downvotes.size %>
        <div>
          <br/>
          <%= link_to 'Edit Post', edit_post_path(@post), class:'btn btn-primary'%>
          <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Delete post?" }, class:' btn btn-primary' %>
        </div>
      </div>
    </div>
    <br/>
    <div id="post-replies">
      <%= render @post.replies %>
    </div>

    <hr />

    <h3>Leave a reply</h3>
    <% if user_signed_in? %>
      <%= render 'replies/form' %>
    <% else %>
      <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
        <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>
  </div>
</div>


