<div id="flash">
  <% flash.map do |type, messages| %>
    <% type = "success" if (type == "success" || type == "notice") %>
    <% type = "danger"  if (type == "warning" || type == "alert") %>

    <% messages = [messages] if messages.is_a?(String) %>
    <% messages.each do |message| %>
      <div class="alert alert-<%= type %> alert-dismissible alert-notify" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= lf2br message %>
      </div>
    <% end %>
  <% end %>
</div>

