<header id="header" class="nav navbar navbar-expand-lg fixed-top navbar-light border-bottom">
  <a class="navbar-brand" href="<%= main_app.root_path %>">
    <%= image_tag "logo.png", height: 50 %>
  </a>

  <button class="navbar-toggler" data-target="#nav" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="nav" class="collapse navbar-collapse">
    <% if current_user %>
      <%= render "layouts/user_nav" %>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="<%= main_app.new_user_session_path %>">
            Login
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</header>
