<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link" href="#" data-toggle="dropdown">
      <%= icon(:user) %>
      <%= current_user.name %>
      <%= icon(:caret_down) %>
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="<%= main_app.destroy_user_session_path %>" data-method="delete">
        <%= icon(:power_off) %>
        Logout
      </a>
    </div>
  </li>

</ul>
