<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="turbolinks-cache-control" content="no-cache" />
  <title>HivebriteForum</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body
  data-controller="<%= params[:controller].parameterize %>"
  data-action="<%= params[:action].parameterize %>"
>
<%= render "layouts/header" %>

<main id="main">
  <%= render "layouts/flash" %>
  <%== yield %>
</main>
</body>
</html>

